body {
    padding: 0;
    margin: 0 auto !important;
    width: 980px !important;
    font-family: sans-serif;
}
.App {
    text-align: center;
}
.App-logo {
    height: 80px;
}
.App-header {
    padding: 20px;
    color: white;
}
.App-title {
    font-size: 1.5em;
}
.App-intro {
    font-size: large;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }   
}

.thememain-white .thememain-header {
    background: linear-gradient(165deg, #6e60cc, #484389) !important;
    color: #fff !important;
}
